# Cache do Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ambiente Virtual Python
venv/
.venv/
env/

# Banco de Dados Local SQLite
backend/awards.db
backend/static

# Arquivos do Angular / Node
frontend/.angular/
frontend/dist/
node_modules/
.modules/

# Logs e configurações locais de IDEs
.vscode/
.idea/
*.log
.DS_Store